{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Login Dreampsy</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Shadows+Into+Light+Two" rel="stylesheet">
<link href="{% static  'css/font-awesome.css'%}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/rangeslider.css' %} " rel="stylesheet">

</head>

<body>
	<div id="inicio_sesion" class="">
		<div class="logo_inicio"></div>
		<div class="load_inicio">
	    	<div class="title">Login</div>
			<a class="active log_fb" href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook" aria-hidden="true"></i>Login / Facebook</a>
			<!--<span class="block terminos"><a href="#">He leído y acepto las condiciones</a></span>-->
		</div>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src=" {% static 'js/code.js' %}"></script>
</html>