{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mis Sueño - Dreampsy</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Shadows+Into+Light+Two" rel="stylesheet">
<link href="{% static  'css/font-awesome.css'%}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>
    <div id="max_box">
        <div id="left_box">
            <div id="menu">
                <i class=" menu fa fa-bars" aria-hidden="true"></i>
                <div class="logo"><img src="{% static 'images/logo-dreamspy.png' %}" /></div>
                <div class="ayuda"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
            </div>
            <div id="container" class="topped scrolly">

                <div id="menu_flotante">
                    <div class="user-tab">
                        <i class="menu fa fa-long-arrow-left" aria-hidden="true"></i>
                        <div class="logo"><img src="{% static 'images/logo-dreamspy.png' %}" /></div>
                        <div class="clear"></div>

                        <div class="user-name"><i class="fa fa-user-o" aria-hidden="true"></i> <div class="info_name"> {{ user.username }} <span>2 Sueños</span></div></div>
                    </div>
                    <ul>
                        <li><a href="/">Crear un sueño</a></li>
                        <li><a id="lang_chooser">Idiomas</a></li>
                        <li id="menu_lang">
                        <ul>
                        {% for idioma in idiomas %}
                                <li><a href="#" class="idioma_{{ idioma }}">{{ idioma }}</a></li>
                        {% endfor %}
                        </ul>
                        </li>
                        <li> <a href="{% url 'dreams:mis_suenos' %}">Mis sueños</a> </li>
                        
                    </ul>
                    <div class="log_out"><a href="{% url 'logout' %}">Cerrar sesion</a> </div>
                </div>
                <div id="menu_overlay" ></div>
                    <ul class="suenos_guardados">
                        {% for dream in dreams %}
                            {% if dream.personaje1 and dream.personaje2 %}
                                    {% if dream.agradable %}
                                        <li>
                                            <a href="{% url 'dreams:detalle_sueño' dream.pk %}">
                                            <span class="chates">sin chat</span><div class="clear"></div>
                                            <h5>Sueño agradable con {{ dream.personaje1 }} y {{ dream.personaje2 }}</h5>
                                            <div class="des_suenos">Descripcion: {{ dream.descripcion }}</div>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'dreams:detalle_sueño' dream.pk %}">
                                            <span class="chates">sin chat</span><div class="clear"></div>
                                            <h5>Sueño Desagradable con {{ dream.personaje1 }} y {{ dream.personaje2 }}</h5>
                                            <div class="des_suenos">Descripcion: {{ dream.descripcion }} </div>
                                        </a></li>
                                    {% endif %}
                            {% endif %}

                        {% endfor %}
                    </ul>

            </div>
        </div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src=" {% static 'js/code.js' %}"></script>
</html>